.header-video-module{
  width: 100%;
  height: 800px;
}
.homeTitle{
  margin-top: 250px;
  font-size: 60px;
}
.btn-signup{
  padding: 8px 50px;
  font-size: 20px;
  font-weight: bold;
}
.lead{
  font-size: 20px;
}
.bytom-block-title span{
  color: #035BD4;
}
.reward-img{
  width: 540px;
  height: 160px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.thumbnail{
  border: none;
  margin-bottom: 30px;
}
.thumbnail:hover{
  box-shadow: none;
}
.thumbnail .caption .caption-title{
  font-size: 20px;
  color: #000;
}
.thumbnail .caption .caption-text{
  font-size: 14px;
  color: #000;
  opacity: 0.5;
}
.thumbnail .caption .btm{
  font-size: 16px;
  color: #000;
}
.benefit-icon img{
  width: 40px;
  height: 40px;
}
.benefits{
  padding-bottom: 50px;
}
.des{
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  width: 880px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.highlight{
  background: #f8f8f8;
  /* padding-bottom: 0; */
}
.note{
  width: 816px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 60px;
  margin: 80px auto 0 auto;
}
.note .bytom-block-title{
  text-align: center;
  margin-bottom: 40px;
}
.note li{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .bytom-block-title{
    font-size: 22px;
  }
  .reward-img{
    width: 100%;
    height: auto;
    padding: 0 16px;
  }
  .des{
    width: 100%;
  }
  .note{
    width: 100%;
    padding: 30px 16px;
  }
  .filter{
    background: #035BD4 !important;
  }
  video{
    display: none;
  }
  .homeTitle{
    margin-top: 150px;
  }
  .reward-web{
    display: none;
  }
  .reward-mobile{
    display: block !important;
  }
  .contact span{
    display: block;
  }
}
.reward-mobile{
  display: none;
}

.contact span i{
  font-style: normal;
  color: #000;
  font-weight: 500;
}
.contact span{
  margin: 0 10px;
}
.slick-track{
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
.speaker-info span{
  color: #B3B3B3;
}
.speaker-info p{
  color: #000;
  font-size: 16px;
}
.slick-initialized .slick-slide{
  width: 180px !important;
}


.tab-pane img{
  width: 100%;
  margin-top: 35px;
}

.bytom-speakers{
  display: flex;
  justify-content: space-between;
}
.bytom-speakers .speaker-info{
  width: 168px;
}
.partner{
  width: 100%;
  height: 105px;
  background: url(/images/devcon/Media/Partner.png) center / 732px no-repeat;
}
.media-mobile{
  display: none;
}
.bytom-info{
  width: 100%;
  text-align: center;
}
@media (max-width: 640px) {
  .partner{
    background: url(/images/devcon/Media/Partner.png) center / 100% no-repeat;
  }
  .bytom-speakers{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
  .media-web{
    display: none;
  }
  .media-mobile{
    display: block;
  }
  .media-mobile p{
    text-align: center;
    margin: 35px 0 10px 0;
  }
  .media-mobile img{
    width: 100%;
  }
  .prices img{
    display: none;
  }
}
.prices img{
  width: 500px;
}
.img-bytom{
  width: 0;
  height: 0;
  display: none;
}
.tab-pane.img img{
  width: 90%;
}
.tab-pane.img{
  text-align: center;
}


